<nav id="toolbar" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <app-icon [size]="30"></app-icon>
      <h1 [appFontSize]="'medium'">{{"\<Spanford University />"}}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [appFontSize]="'medium'" class="nav-link">{{getCurrentPage()}}</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="d-flex align-items-center">
          <mat-icon class="me-2">account_circle</mat-icon>
          <a class="nav-link" [appFontSize]="'medium'">{{user? (user | fullName) : ''}}</a>
        </div>
      </div>
    </div>
  </div>
</nav>