<app-detail
    *ngIf="id && course"
    [cardsData]="getCardsData(course)"
    [mainSectionData]="getMainSectionData(course)"
    [chartSectionData]="getChartSectionData(course)"
    [chartData]="getChartData(course)"
    [enrollmentSectionData]="getEnrollmentSectionData(course)"
    [enrollmentData]="getEnrollmentData(course)"
    [enrollmentSeeDetailAction]="getEnrollmentSeeDetailAction()"
    [enrollmentSeeMoreAction]="getEnrollmentSeeMoreAction()"
    [doughnutSectionData]="getDoughnutSectionData(course)"
    [doughnutData]="getDoughnutData(course)"
    [appStyle]="'linear-main'"
></app-detail>

