@use '../../constants/colors.styles' as colors;

table {
    width: 100%;
    background-color: white;

    thead {
        //--bs-table-bg: #586994 !important;
        background-color: colors.$NEUTRAL_COLOR;
        color: colors.$DARK_COLOR;
    }
}