@use './app/constants/fonts.styles.scss' as fonts;
@use './app/constants/colors.styles.scss' as colors;

body {
    font-family: fonts.$MAIN_FONT;
    background-color: colors.$BACKGROUND_COLOR;
    --bs-body-font-family: fonts.$MAIN_FONT;
}