@use './app/constants/fonts.styles.scss' as fonts;
@use './app/constants/colors.styles.scss' as colors;
@use './app/styles/forms.styles.scss' as forms;

body {
    font-family: fonts.$MAIN_FONT;
    background-color: colors.$BACKGROUND_COLOR;
    --bs-body-bg: colors.$BACKGROUND_COLOR;
    --bs-body-font-family: fonts.$MAIN_FONT;
}
html, body { height: 100%; }


.valid-input {
    @include forms.input;
}

.invalid-input {
    @include forms.invalidInput;
}

.selected-button {
    background-color: colors.$NEUTRAL_COLOR !important;
    color: colors.$LIGHT_COLOR !important;
}

.custom-container {
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 1rem;
}