<div id="dashboard-container" >
    <section id="dashboard" class="container">
        <div id="dashboard-title" class="custom-container d-flex justify-content-between align-items-end">
            <app-section-header [icon]="icon" [title]="title" [description]="description"></app-section-header>
            <p id="add-filterable-data-btn-text" [appFontSize]="'medium'" class="text-end">
                <button mat-raised-button id="add-filterable-data-btn" (click)="openDialog()">
                    <mat-icon [appFontSize]="'medium'" class="mr-2">add</mat-icon>
                    {{createDataTitle}}
                </button>
            </p>
        </div>
        <div class="custom-container">
            <div class="mb-5">
                <app-filters [filterableType]="filterableType" [filters]="filterOptions"></app-filters>
            </div>
            <app-table (onViewEmiter)="handleViewEmitter($event)"></app-table>
        </div>
    </section>
</div>
