<div id="dashboard-container" >
    <section id="dashboard" class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div id="dashboard-title">
                <h1>{{'👨🏼‍🎓 Usuarios'}}</h1>
                <p>
                    Visualiza datos de los estudiantes de la universidad.
                </p>
            </div>
            <button mat-raised-button id="add-student-btn" (click)="openAddStudentDialog()">
                <mat-icon class="mr-2">add</mat-icon>
                Crea un usuario
            </button>
        </div>
        <div class="mb-5">
            <app-filters (treeEmitter)="onTreeEmitter($event)"></app-filters>
        </div>
        <app-table [filters]="filters"></app-table>
    </section>
</div>
