<div id="dashboard-container" >
    <section id="dashboard" class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div id="dashboard-title">
                <h1 [appFontSize]="'x-large'">{{title}}</h1>
                <p [appFontSize]="'medium'">
                    {{description}}
                </p>
            </div>
            <p id="add-filterable-data-btn-text" [appFontSize]="'medium'" class="text-end">
                <button mat-raised-button id="add-filterable-data-btn" (click)="openDialog()">
                    <mat-icon [appFontSize]="'medium'" class="mr-2">add</mat-icon>
                    {{createDataTitle}}
                </button>
            </p>
        </div>
        <div class="mb-5">
            <app-filters [filterableType]="filterableType" [filters]="filterOptions"></app-filters>
        </div>
        <app-table (onViewEmiter)="handleViewEmitter($event)"></app-table>
    </section>
</div>
