@use '../../constants/colors.styles' as colors;
@use '../../styles/forms.styles' as forms;

#signup-name-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 2%;
}

#login {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 0;

    #login-left {

        img {
            height: 100vh;
            width: 50vw;
            object-position: top left;
            object-fit: cover;
        }
    }

    #login-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50vw;
        gap: 3%;
        flex-grow: 1;

        #login-title-description {
            display: flex;
            flex-direction: column;
            gap: 1%;
            align-items: center;
        }

        h1 {
            font-size: 2rem;
            font-weight: 1000;
        }

        p {
            margin: 0;
            color: colors.$NEUTRAL_COLOR;
            width: 70%;
        }

        input { height: 2.75rem; }
        label {  color: colors.$NEUTRAL_COLOR }
        a { color: colors.$MAIN_COLOR; cursor: pointer }
        
        .login-forgot-password-text  {text-align: end;}
        .login-continue-with-text, .login-register-text {text-align: center;}

        #login-button {
            border: solid 1px colors.$LIGHT_COLOR;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
            border-radius: 5px;
            width: 70%; height: 2.75rem;
            background: colors.$LINEAR-GRADIENT-MAIN;
            color: colors.$LIGHT_COLOR;
            padding: 2%;
            font-weight: 501;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {opacity: 0.8;}
        }

        .user-input-container {
            display: flex;
            flex-direction: column;
            gap: 1%;
            width: 70%;

            input {
                width: 100%;
            }
        }

        form {
            @include forms.form;
            width: 100%;
        }

        #login-social {          
            button {
                background-color: transparent;
                border-color: transparent;
                border-width: 0;

                &:hover {opacity: 0.5;}
            }
        }

    }

    @media (max-width: 1024px) {           
        background: linear-gradient(135deg, colors.$MAIN_COLOR, colors.$MAIN_LIGHT_COLOR);
        padding: 5%;

        #login-left { display: none; }

        #login-right {
            background-color: colors.$LIGHT_COLOR;
            border-radius: 12.5px;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25);
            gap : 1%;
    
            #login-title-description {
                h1 {font-size: 1.25rem; text-align: center}
                p {display: none}
            }
    
            input, #login-button {
                font-size: 0.75rem;
                padding: 0.25rem;
                margin: 0.25rem 0;
                height: 2.5rem;
            }
        }
        
    }

    @media ( max-height: 600px ) {
        background: colors.$LIGHT_COLOR;
        padding: 0;
        #login-left { display: none }
        #login-right { box-shadow: none }
        input, #login-button {  height: 2.9rem; }
    }

    @media ( max-width: 1024px ) {
        #login-left { display: none; }
        input, #login-button { height: 2.9rem; }
        #login-right { height: 80vh; }
        padding: 5%;
    }
}
