<div id="login">
    <aside id="login-left">
        <img src="assets/images/login-left2.png" alt="Login" />
    </aside>
    <section id="login-right">
        <div id="login-title-description">
            <h1>{{hasAccount? '¡Bienvenido nuevamente!' : '¡Bienvenido a Spanford!'}}</h1>
            <p>En spanford nos aseguramos de que todos nuestros datos sean fácilmente accesibles mediante una interfaz amigable.</p>
        </div>
        <form id="login-form" method="GET" (ngSubmit)="onAuth()" [formGroup]="loginForm">
            <div *ngIf="!hasAccount" id="signup-name-container">
                <input 
                    type="text" 
                    placeholder="Nombre" 
                    formControlName="name" 
                    [style.border-color]="submitted && loginForm.get('name')?.errors ? 'red' : null"
                />
                <input 
                    type="text" 
                    placeholder="Apellido" 
                    formControlName="surname"
                    [style.border-color]="submitted && loginForm.get('surname')?.errors ? 'red' : null" 
                />
            </div>
            <input 
                type="email" 
                placeholder="Correo electrónico" 
                formControlName="email" 
                [style.border-color]="submitted && loginForm.get('email')?.errors ? 'red' : null"
            />
            <input 
                type="password" 
                placeholder="Contraseña" 
                formControlName="password"
                [style.border-color]="submitted && loginForm.get('password')?.errors ? 'red' : null"
            />
        </form>
        <p *ngIf="hasAccount" class="login-forgot-password-text">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </p>
        <button id="login-button" type="submit" form="login-form">
            {{hasAccount? 'Iniciar sesión' : 'Regístrate' }}
        </button>
        <p class="login-continue-with-text">O continua con</p>
        <div id="login-social">
            <button *ngFor="let social of ['google.png', 'facebook.png', 'apple.png']">
                <img [src]="'assets/images/'+social" [alt]="social" width="35px" height="35px" />
            </button>
        </div>
        <p class="login-register-text">
            {{hasAccount? '¿No tienes una cuenta?' : '¿Ya tienes cuenta?'}}
            <a (click)="hasAccount = !hasAccount" href="#">{{hasAccount? 'Regístrate' : 'Inicia sesión'}}</a>
        </p>
    </section>
    <div *ngIf="loginForm.invalid && submitted">
        <app-toast 
            [messages] = "[
                loginForm.get('name')?.errors?.['maxlength'] ? 'El nombre debe tener no más de '+MAX_NAME_LENGTH+' caracteres' : null,
                loginForm.get('name')?.errors?.['required'] ? 'El nombre es requerido' : null,
                loginForm.get('surname')?.errors?.['maxlength'] ? 'El nombre debe tener no más de '+MAX_NAME_LENGTH+' caracteres' : null,
                loginForm.get('surname')?.errors?.['required'] ? 'El apellido es requerido' : null,
                loginForm.get('email')?.errors?.['required'] ? 'El correo electrónico es requerido' : null,
                loginForm.get('email')?.errors?.['pattern'] ? 'El correo electrónico no es válido' : null,
                loginForm.get('password')?.errors?.['required'] ? 'La contraseña es requerida' : null,
                loginForm.get('password')?.errors?.['minlength'] ? 'La contraseña debe tener al menos '+MIN_PASSWORD_LENGTH+' caracteres' : null,
            ]"
        >
        </app-toast>
    </div>
</div>
