@use '../toolbar/toolbar.component' as tb;
@use '../../constants/colors.styles.scss' as colors;

#left-menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh - tb.$toolbar-height;

    .active {
        background-color: colors.$NEUTRAL_COLOR;
    }

    a {
        color: colors.$DARK_COLOR;
    }

    .nav-link {
        border-radius: 0;
        width: 100%;
    }
}

.left-menu {
    width: 0 !important;
    font-size: 0;
    *{display: none}
  }
  
 

