<app-detail
    *ngIf="id && student"
    [cardsData]="getCardsData(student)"
    [mainSectionData]="getMainSectionData(student)"
    [chartSectionData]="getChartSectionData(student)"
    [chartData]="getChartData(student)"
    [enrollmentSectionData]="getEnrollmentSectionData(student)"
    [enrollmentData]="getEnrollmentData(student)"
    [enrollmentSeeMoreAction]="getEnrollmentSeeMoreAction()"
    [doughnutSectionData]="getDoughnutSectionData(student)"
    [doughnutData]="getDoughnutData(student)"
    [appStyle]="'linear-green'"
></app-detail>