<div id='app'>
    <header>
        <app-toolbar (loggingOut)="logOut()"></app-toolbar>
    </header>
    <div id='main-content'>
        <aside>
        <app-menu></app-menu>
        </aside>
        <main>
        <app-dashboard *ngIf="getDashboardText() as dbText"
            [title]="dbText.title"
            [description]="dbText.description"
            [createDataTitle]="dbText.createDataTitle"
            [filterableType]="dbText.filterableType"
        ></app-dashboard>
        </main>
    </div>
</div>
