<div id="course-detail" class="layout-child">
    <div id="data-blocks" class="custom-co">
        <ng-container *ngFor="let blockInfo of cardsData">
            <div class="data-block" [appCustomBackground]="appStyle">
                    <h1 [appFontSize]="'medium'">{{blockInfo.title}}</h1>
                    <div class="card-info">
                        <mat-icon class="icon">{{blockInfo.icon}}</mat-icon>
                        <h2>{{blockInfo.value}}</h2>
                    </div>
            </div>
        </ng-container>
    </div>
    <div id="course-bottom-data" class="row">
        <div id="course-bottom-center-data" class="col-lg-6">
            <app-section-header
                id="course-header"
                class = "custom-container"
                [title]="mainSectionData.title"
                [description]="mainSectionData.description"
                [icon]="mainSectionData.icon"
                [customBackground]="appStyle"
                [pictureUrl]="mainSectionData.pictureUrl"
            >
            </app-section-header>
            <section id="course-plots" class="custom-container">
                <app-section-header
                    id="course-plots-header"
                    [title]="chartSectionData.title"
                    [description]="chartSectionData.description"
                    [icon]="chartSectionData.icon"
                    [customBackground]="appStyle"
                >
                </app-section-header>
                <div id="plots">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                            [datasets]="[{data: chartData.datasets, label: chartData.label, backgroundColor: chartData.backgroundColor}]"
                            [labels]="chartData.datasetLabels" 
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend" 
                        >
                        </canvas>
                    </div>
                </div>
            </section>
        </div>

        <aside id="course-detail-right" class="col-lg-4">
            <section id="course-students-data" class="custom-container">
                <app-section-header
                    id="course-students-header"
                    [title]="enrollmentSectionData.title"
                    [description]="enrollmentSectionData.description"
                    [icon]="enrollmentSectionData.icon"
                    [customBackground]="appStyle"
                >
                </app-section-header>
                <button 
                    id="enrollments-add-more" 
                    [appCustomBackground]="appStyle" 
                    mat-raised-button color="primary"
                    class="mb-3"
                    (click)="enrollmentAddMoreAction()"
                >
                    <mat-icon>add</mat-icon>
                    Agregar más
                </button>
                <div class="students">
                    <ng-container *ngFor="let data of enrollmentData.slice(0,maxEnrollmentsShown)">
                        <div>
                        <app-card
                            [handleClick]="seeMoreAction(data.academicId)"
                            [title]="data.title"
                            [description]="data.description"
                            [pictureUrl]="data.pictureUrl"
                            [icon]="data.icon"
                            [pictureHeight]="80"
                            [pictureAlt]="data.title"
                            [customIconBackground]="secondaryAppStyle"
                            [deleteAction]="deleteAction(data.enrollmentId)"
                        >
                    </app-card></div>
                </ng-container>
                <button 
                    id="students-see-more" 
                    [appCustomBackground]="appStyle" 
                    mat-raised-button color="primary"
                    (click)="enrollmentSeeMoreAction()"
                >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Ver más
                </button>
            </div>
            </section>
            <div class="custom-container">
                <app-section-header
                    id="course-students-header"
                    [title]="doughnutSectionData.title"
                    [description]="doughnutSectionData.description"
                    [icon]="doughnutSectionData.icon"
                    [customBackground]="appStyle"
                >
                </app-section-header>
                <canvas baseChart class="chart"
                    [data]="{datasets: [{data: doughnutData.datasets}], labels: doughnutData.datasetLabels}"
                    [type]="doughnutChartType"
                    [options]="doughnutChartOptions"
                >
                </canvas>
            </div>
        </aside>
    </div>
</div>