#header-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.5);
        border-radius: 5px;
        padding: 0.2rem;
        height: 2.25rem; width: 2.25rem;
        margin: 0.75rem 2rem 0 0.5rem;
    
        mat-icon {
            color: white;
        }
    }

    #header-text-data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}

 
