@use '../toolbar/toolbar.component' as tb;
@use '../../../constants/colors.styles.scss' as colors;

#left-menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 225px;
    height: 100vh - tb.$toolbar-height;

    .active { 
        background-color: colors.$MAIN_COLOR; 
        color: colors.$LIGHT_COLOR;
    }
    a { color: colors.$SEMI-DARK_COLOR; }

    hr {
        margin-bottom: 0;
    }

    .nav {
        flex-wrap: nowrap;
        
        .nav-link {    
            border-radius: 0;
            width: 100%;
            padding: 5% 5% 5% 7.5%;
        }

        .nav-item {
            .nav-item-title {
                padding: 5% 5% 5% 7.5%;
                margin-left: 7.5%;
            }

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }

    .icon {
        margin-right: 5%;
        padding-top: 2px;
        left: 12px;
        overflow:visible;
        position:absolute;
    }
}

.left-menu {
    width: 0 !important;
    font-size: 0;
    *{display: none}
  }
  
 

