@use '../../../constants/colors.styles' as colors;


#students-table {   
    overflow-x: auto;
    border-radius: 5px 5px 0 0;

    table {
        width: 100%;
        background-color: white;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    
        .mat-mdc-header-row {
            background-color: colors.$MAIN_COLOR;
            .mat-mdc-header-cell { color: colors.$LIGHT_COLOR !important }
        }
    
        tbody { --bs-table-bg: colors.$LIGHT_COLOR }
    }
    
    .mat-paginator-container {
        background-color: colors.$LIGHT_COLOR;
    }

    mat-paginator {
        background-color: colors.$LIGHT_COLOR;
        margin: 0;
    }

    mat-mdc-paginator-range-actions { color: colors.$MAIN_COLOR }

    .edit-icon { 
        background-color: colors.$MAIN_COLOR;
        transform: scale(0.6);
    }


}

#students-paginator-container {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    width: 100%;
}