<div id="students-table">
    <table 
        mat-table 
        matSort 
        [dataSource]="dataSource"
        class="mat-elevation-z8"
    >
        <ng-container *ngFor = "let column of displayedColumnData" [matColumnDef]="column.attribute">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.attributeName}} </th>
            <td mat-cell *matCellDef="let student">
                <ng-container *ngIf="student[column.attribute] as att">
                    <ng-container *ngIf="hasFullName(column.attribute, student.surname)">
                        {{student | fullName}}
                    </ng-container>
                    <ng-container *ngIf="isDate(att)">
                        {{att | date:'dd/MM/yyyy'}}
                    </ng-container>
                    <ng-container *ngIf="isArray(att)">
                        {{arrayLength(att)}}
                    </ng-container>
                    <ng-container *ngIf="isElse(att, column.attribute, student.surname)">
                        {{att}}
                    </ng-container>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let student">
                <div class="d-flex row justify-content-center align-items-center">
                    <button
                        class="edit-icon"
                        (click)="onEditStudent(student.id)" 
                        mat-mini-fab color="primary"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="onDeleteStudent(student.id)" mat-icon-button color="accent">
                        <mat-icon color="accent">delete</mat-icon>
                    </button>
                </div>
            </td>
      </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
<div id="students-paginator-container">
    <mat-paginator 
        class="container"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
    >
    </mat-paginator>
</div>