<div mat-dialog id="filter-dialog">
    <h1 mat-dialog-title [appFontSize]="'large'">Seleccione un filtro</h1>
    <div class="d-flex justify-content-around" mat-dialog-content>
        <ng-container  *ngFor="let type of types" >
            <button 
                *ngIf="!isLeaf(type)" 
                (click)="
                    chooseType(type); 
                    switchFilter(false);
                    selectedType = type;
                "
                class="filter-button"
                [ngClass]="selectedType == type ? 'selected-button' : ''"
                mat-raised-button 
                color="primary" 
            >
                {{logicOperatorTitles[type]}}
            </button>
        </ng-container>
        <button 
            class="filter-button"
            mat-raised-button 
            color="primary"
            [ngClass]="selectedType == getLeafType() ? 'selected-button' : ''"
            (click)="
                switchFilter();
                selectedType = getLeafType();   
            "
        >
            Elegir filtro
        </button>
    </div>
    <mat-accordion>
        <mat-expansion-panel 
            [expanded]="isOpenFilter" 
            (click)="chooseType(getLeafType())"
            class="mt-3">
            <mat-expansion-panel 
              *ngFor="let filter of filters; let i = index" 
              [ngClass]="i==0 ? 'mt-3' : ''"
              (click)="chooseFilter(filter)"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{filter.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{filter.description}}</p>
                <input
                    *ngIf="filter.type !== 'range'" 
                    [type]="filter.type" 
                    (input)="onChange($event, filter.name)"
                >
                <mat-slider *ngIf="filter.type === 'range'"
                    class="example-margin"
                    [max]="10"
                    [min]="0"
                    [step]="1"
                    [discrete]="true"
                    (input)="onChange($event, filter.name)"
                >
                <input matSliderThumb />
                </mat-slider>
           </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
    <div  class="d-flex justify-content-end">
        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]="''" >Cancelar</button>
            <button 
                (click)="onSubmit()"
                mat-button 
                cdkFocusInitial
            >
                Ok
            </button>
        </div>
    </div>
</div>
