<div mat-dialog>
    <h1 mat-dialog-title>
        Agregar/Modificar un usuario
    </h1>
    <div mat-dialog-content>
        <form id="add-user-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <!-- <label for="user-image">Imagen</label>
            <input id="user-image" name ="user-image" type="file" accept="image/*" /> -->
            <div id="full-name-container" class="d-flex row">
                <div class="full-name-item">
                    <label for="name">Nombre</label>
                    <input 
                        class="valid-input"
                        [appValidInput]="!(submitted && !!formGroup.get('name')?.errors)" 
                        type="text" placeholder="Nombre" 
                        formControlName="name" 
                        name="name" 
                        autocomplete="name" 
                    />
                </div>
                <div class="full-name-item">
                    <label for="surname">Apellido</label>
                    <input 
                        class="valid-input"
                        [appValidInput]="!(submitted && !!formGroup.get('surname')?.errors)"  
                        type="text" 
                        formControlName="surname" 
                        placeholder="Apellido" 
                        name="surname" 
                        autocomplete="surname"
                    />
                </div>
            </div>
            <div class="input-with-label">
                <label for="email">Correo electrónico</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('email')?.errors)"  
                    type="email" 
                    formControlName="email" 
                    placeholder="Correo electrónico" 
                    name="email" 
                    autocomplete="email" 
                />
            </div>
            <div class="input-with-label">
                <label for="password">Contraseña</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('password')?.errors)"  
                    type="password" 
                    formControlName="password" 
                    placeholder="Contraseña" 
                    name="password" 
                    autocomplete="new-password" 
                />
            </div>
            <div class="input-with-label">
                <label for="birthDate">Fecha de nacimiento</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('birthDate')?.errors)"  
                    type="date"
                    formControlName="birthDate" 
                    placeholder="Fecha de nacimiento" 
                    name="birthDate" 
                    autocomplete="bday" 
                />
            </div>
            <div class="input-with-label">
                <label for="admissionDate">Fecha de admisión</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('admissionDate')?.errors)"  
                    type="date" 
                    formControlName="admissionDate" 
                    placeholder="Fecha de ingreso" 
                    name="admissionDate" 
                    autocomplete="admission-date" 
                />
            </div>
            <div class="input-with-label">
                <label for="phone">Teléfono</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('phone')?.errors)"  
                    type="phone" 
                    formControlName="phone" 
                    placeholder="Teléfono" 
                    name="phone" 
                    autocomplete="phone" 
                />
            </div>
            <div class="input-with-label">
                <label for="address">Ciudad</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('city')?.errors)"  
                    type="text" 
                    formControlName="city" 
                    placeholder="Ciudad" 
                    name="city" 
                    autocomplete="city" 
                />
            </div>
            <div class="input-with-label">
                <label for="address">Carrera</label>
                <input 
                    class="valid-input"
                    [appValidInput]="!(submitted && !!formGroup.get('career')?.errors)"  
                    type="text" 
                    formControlName="career" 
                    placeholder="Carrera" 
                    name="career" 
                    autocomplete="career" 
                />
            </div>
        </form>
    </div>
    <div id="submit-buttons-container">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-raised-button type="submit" form="add-user-form">Crear usuario</button>
    </div>
</div>
<div *ngIf="formGroup.invalid && submitted">
    <app-toast 
        [messages] = "[
            formGroup.get('name')?.errors?.['required'] ? 'El nombre es requerido' : null,
            formGroup.get('surname')?.errors?.['required'] ? 'El apellido es requerido' : null,
            formGroup.get('email')?.errors?.['required'] ? 'El correo electrónico es requerido' : null,
            formGroup.get('password')?.errors?.['required'] ? 'La contraseña es requerida' : null,
        ]"
    >
    </app-toast>
</div>
